<!-- <div class="container"> -->
  <h1><%= current_user.first_name %>'s Ideas</h1>

  <p>Jot down your ideas <a href="/ideas/new">here</a>!</p>

    <ul>
      <% @ideas.each do |idea| %>
      <li>
        <h2><%= idea.title %></h2></a>
        <p>
          <% if idea.public %>
            <i>(public)</i>
          <% else %>
            <i>(private)</i>
          <% end %>
        </p>
        <p><%= idea.content %></p>
        <a href="/ideas/<%= idea.id %>/edit">Edit</a>
        <form method="post" action="/ideas/<%= idea.id %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </li>
      <% end %>
    </ul>

<!-- </div> -->
